<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gym Payment</title>
  <link rel="stylesheet" href="/staticfile/paytm.css">
  <script src="https://securegw-stage.paytm.in/merchantpgpui/checkoutjs/merchants/your-merchant-id/checkout.js"></script>
  <script src="/design/paytm.js"></script>
</head>
<body>

    <header>
      <h1>Make your payment here</h1>
    </header>

    <div class="content">
      <h2>Pay with UPI</h2>
      <button id="paytm-button">Pay Now</button>
    </div>
  </body>
</html>
